.bg-black {background-color:black;
}
#btn {background-color:black;
	  border-color:black;

}


.circle {
    width: 80px;
    height: 80px;
    text-align: justify;

  }

 img {object-fit:cover;
 	 width:100%;
  }


